<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  
  <Fragment>
    <!-- Main application components -->
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
    
    <!-- GUI Application -->
    <Component Id="CNCFTPSyncGUI" Guid="4E2816DC-2F4E-4D78-9808-5DC067E74283">
      <File Id="CNCFTPSyncGUI.exe" 
            Source="$(var.CNCFTPSyncGUI.TargetDir)CNCFTPSyncGUI.exe" 
            KeyPath="yes"
            Checksum="yes" />
      <File Id="CNCFTPSyncGUI.dll" 
            Source="$(var.CNCFTPSyncGUI.TargetDir)CNCFTPSyncGUI.dll"
            Checksum="yes" />
      <File Id="CNCFTPSyncGUI.exe.config" 
            Source="$(var.CNCFTPSyncGUI.TargetDir)CNCFTPSyncGUI.exe.config"
            Checksum="yes" />
      <File Id="CNCFTPSyncGUI.deps.json" 
            Source="$(var.CNCFTPSyncGUI.TargetDir)CNCFTPSyncGUI.deps.json" />
      <File Id="CNCFTPSyncGUI.runtimeconfig.json" 
            Source="$(var.CNCFTPSyncGUI.TargetDir)CNCFTPSyncGUI.runtimeconfig.json" />
      <File Id="CNCFTPSync.ico" 
            Source="$(var.CNCFTPSyncGUI.TargetDir)CNCFTPSync.ico" />
    </Component>

    <!-- Core Library -->
    <Component Id="CNCFTPSyncCore" Guid="2907BCBB-08ED-4D6D-862F-AF661ACFEA2F">
      <File Id="CNCFTPSyncCore.dll" 
            Source="$(var.CNCFTPSyncGUI.TargetDir)CNCFTPSyncCore.dll" 
            KeyPath="yes" />
    </Component>

    <!-- AutoUpdater.NET -->
    <Component Id="AutoUpdaterNET" Guid="A8F814F3-B0CF-4B5F-B2D7-F22E93C11DE6">
      <File Id="AutoUpdater.NET.dll" 
            Source="$(var.CNCFTPSyncGUI.TargetDir)AutoUpdater.NET.dll" 
            KeyPath="yes" />
    </Component>

    <!-- WebView2 Runtime Dependencies -->
    <Component Id="WebView2Dependencies" Guid="319336F2-D5F8-42F2-BB17-8FAEC8F6D892">
      <File Id="Microsoft.Web.WebView2.Core.dll" 
            Source="$(var.CNCFTPSyncGUI.TargetDir)Microsoft.Web.WebView2.Core.dll" 
            KeyPath="yes" />
      <File Id="Microsoft.Web.WebView2.WinForms.dll" 
            Source="$(var.CNCFTPSyncGUI.TargetDir)Microsoft.Web.WebView2.WinForms.dll" />
      <File Id="Microsoft.Web.WebView2.Wpf.dll" 
            Source="$(var.CNCFTPSyncGUI.TargetDir)Microsoft.Web.WebView2.Wpf.dll" />
    </Component>

    <!-- NLog Dependencies -->
    <Component Id="NLog" Guid="6F7A4B1C-2428-4A62-9FD9-921BB064B002">
      <File Id="NLog.dll" 
            Source="$(var.CNCFTPSyncGUI.TargetDir)NLog.dll" 
            KeyPath="yes" />
    </Component>

    <!-- ServiceController Dependencies -->
    <Component Id="ServiceController" Guid="8D5C24B5-ADC8-45E8-970D-9F09B88F7853">
      <File Id="System.ServiceProcess.ServiceController.dll" 
            Source="$(var.CNCFTPSyncGUI.TargetDir)System.ServiceProcess.ServiceController.dll" 
            KeyPath="yes" />
    </Component>

    <!-- Additional Dependencies -->
    <Component Id="AdditionalDependencies" Guid="CB3C1735-5E82-40D0-A0A9-99722DE888DE">
      <File Id="Microsoft.Extensions.ObjectPool.dll" 
            Source="$(var.CNCFTPSyncGUI.TargetDir)Microsoft.Extensions.ObjectPool.dll" 
            KeyPath="yes" />
      <File Id="System.ServiceModel.Primitives.dll" 
            Source="$(var.CNCFTPSyncGUI.TargetDir)System.ServiceModel.Primitives.dll" />
    </Component>

  </ComponentGroup>

  <!-- Service components -->
  <ComponentGroup Id="ServiceComponents" Directory="INSTALLFOLDER">
    
    <!-- Service Executable and Core -->
    <Component Id="CNCFTPSyncService" Guid="585260B5-1245-4420-A6B2-00F25AFABCDB">
      <File Id="CNCFTPSyncService.exe" 
            Source="$(var.CNCFTPSyncService.TargetDir)CNCFTPSyncService.exe" 
            KeyPath="yes"
            Checksum="yes" />
      <File Id="CNCFTPSyncService.dll" 
            Source="$(var.CNCFTPSyncService.TargetDir)CNCFTPSyncService.dll" />
      <File Id="CNCFTPSyncService.deps.json" 
            Source="$(var.CNCFTPSyncService.TargetDir)CNCFTPSyncService.deps.json" />
      <File Id="CNCFTPSyncService.runtimeconfig.json" 
            Source="$(var.CNCFTPSyncService.TargetDir)CNCFTPSyncService.runtimeconfig.json" />

    </Component>

    <!-- Microsoft Extensions Dependencies for Service -->
    <Component Id="ServiceExtensionsDeps" Guid="7A2B1F3E-8C4D-4E5F-9A6B-2C3D4E5F6A7B">
      <File Id="Microsoft.Extensions.Configuration.Abstractions.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Configuration.Abstractions.dll" 
            KeyPath="yes" />
      <File Id="Microsoft.Extensions.Configuration.Binder.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Configuration.Binder.dll" />
      <File Id="Microsoft.Extensions.Configuration.CommandLine.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Configuration.CommandLine.dll" />
      <File Id="Microsoft.Extensions.Configuration.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Configuration.dll" />
      <File Id="Microsoft.Extensions.Configuration.EnvironmentVariables.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
      <File Id="Microsoft.Extensions.Configuration.FileExtensions.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Configuration.FileExtensions.dll" />
      <File Id="Microsoft.Extensions.Configuration.Json.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Configuration.Json.dll" />
      <File Id="Microsoft.Extensions.Configuration.UserSecrets.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Configuration.UserSecrets.dll" />
    </Component>

    <!-- Dependency Injection and Hosting -->
    <Component Id="ServiceHostingDeps" Guid="8B3C2F4E-9D5E-4F6A-AB7C-3D4E5F6A7B8C">
      <File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.DependencyInjection.Abstractions.dll" 
            KeyPath="yes" />
      <File Id="Microsoft.Extensions.DependencyInjection.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.DependencyInjection.dll" />
      <File Id="Microsoft.Extensions.Hosting.Abstractions.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Hosting.Abstractions.dll" />
      <File Id="Microsoft.Extensions.Hosting.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Hosting.dll" />
      <File Id="Microsoft.Extensions.Hosting.WindowsServices.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Hosting.WindowsServices.dll" />
      <File Id="Microsoft.Extensions.Diagnostics.Abstractions.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Diagnostics.Abstractions.dll" />
      <File Id="Microsoft.Extensions.Diagnostics.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Diagnostics.dll" />
    </Component>

    <!-- File Providers and Options -->
    <Component Id="ServiceOptionsDeps" Guid="9C4D3F5E-AE6F-4A7B-BC8D-4E5F6A7B8C9D">
      <File Id="Microsoft.Extensions.FileProviders.Abstractions.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.FileProviders.Abstractions.dll" 
            KeyPath="yes" />
      <File Id="Microsoft.Extensions.FileProviders.Physical.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.FileProviders.Physical.dll" />
      <File Id="Microsoft.Extensions.FileSystemGlobbing.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.FileSystemGlobbing.dll" />
      <File Id="Microsoft.Extensions.Options.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Options.dll" />
      <File Id="Microsoft.Extensions.Options.ConfigurationExtensions.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
      <File Id="Microsoft.Extensions.Primitives.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Primitives.dll" />
    </Component>

    <!-- Logging Dependencies -->
    <Component Id="ServiceLoggingDeps" Guid="AD5E4F6A-BF7A-4B8C-CD9E-5F6A7B8C9D0E">
      <File Id="Microsoft.Extensions.Logging.Abstractions.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Logging.Abstractions.dll" 
            KeyPath="yes" />
      <File Id="Microsoft.Extensions.Logging.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Logging.dll" />
      <File Id="Microsoft.Extensions.Logging.Configuration.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Logging.Configuration.dll" />
      <File Id="Microsoft.Extensions.Logging.Console.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Logging.Console.dll" />
      <File Id="Microsoft.Extensions.Logging.Debug.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Logging.Debug.dll" />
      <File Id="Microsoft.Extensions.Logging.EventLog.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Logging.EventLog.dll" />
      <File Id="Microsoft.Extensions.Logging.EventSource.dll.Service" 
            Source="$(var.CNCFTPSyncService.TargetDir)Microsoft.Extensions.Logging.EventSource.dll" />
    </Component>

    <!-- Service-Only Dependencies -->
    <Component Id="ServiceNLogDeps" Guid="BE6F5A7B-CA8B-4C9D-DE0F-6A7B8C9D0E1F">
      <File Id="ServiceNLog.Extensions.Logging.dll" 
            Source="$(var.CNCFTPSyncService.TargetDir)NLog.Extensions.Logging.dll" 
            KeyPath="yes" />
    </Component>

  </ComponentGroup>

  <!-- Configuration components -->
  <ComponentGroup Id="ConfigurationComponents" Directory="INSTALLFOLDER">
    
    <!-- NLog Configuration in main directory -->
    <Component Id="NLogConfig" Guid="433B02E3-E2D2-42E9-AAD4-D2CA7B9545D6">
      <File Id="NLog.config" 
            Source="$(var.CNCFTPSyncCore.ProjectDir)NLog.config" 
            KeyPath="yes" />
    </Component>

  </ComponentGroup>

  <!-- Logs folder components -->
  <ComponentGroup Id="LogsComponents" Directory="LogsFolder">
    
    <!-- Create Logs folder with proper permissions -->
    <Component Id="LogsFolder" Guid="87654321-4321-4321-4321-876543210987">
      <CreateFolder>
        <util:PermissionEx User="Users" GenericAll="yes" />
        <util:PermissionEx User="SYSTEM" GenericAll="yes" />
        <util:PermissionEx User="Administrators" GenericAll="yes" />
      </CreateFolder>
      <RegistryValue Root="HKLM" Key="Software\3DTek\CNC-FTP-SYNC" Name="LogsFolderCreated" Type="integer" Value="1" KeyPath="yes" />
    </Component>

  </ComponentGroup>

  <!-- Config folder components in ProgramData -->
  <ComponentGroup Id="ConfigComponents" Directory="ProgramDataConfigFolder">
    
    <!-- Create ProgramData\CNC-FTP-SYNC folder with proper permissions -->
    <Component Id="ConfigFolder" Guid="A9B8C7D6-E5F4-4A3B-8C7D-9E8F1A2B3C4D">
      <CreateFolder>
        <util:PermissionEx User="Users" GenericAll="yes" />
        <util:PermissionEx User="SYSTEM" GenericAll="yes" />
        <util:PermissionEx User="Administrators" GenericAll="yes" />
      </CreateFolder>
      <RegistryValue Root="HKLM" Key="Software\3DTek\CNC-FTP-SYNC" Name="ConfigFolderCreated" Type="integer" Value="1" KeyPath="yes" />
    </Component>

  </ComponentGroup>

  <!-- UserScripts folder components -->
  <ComponentGroup Id="UserScriptsComponents" Directory="UserScriptsFolder">
    
    <!-- Create UserScripts folder with proper permissions -->
    <Component Id="UserScriptsFolder" Guid="E1F2A3B4-C5D6-7E8F-9A0B-1C2D3E4F5A6B">
      <CreateFolder>
        <util:PermissionEx User="Users" GenericAll="yes" />
        <util:PermissionEx User="SYSTEM" GenericAll="yes" />
        <util:PermissionEx User="Administrators" GenericAll="yes" />
      </CreateFolder>
      <RegistryValue Root="HKLM" Key="Software\3DTek\CNC-FTP-SYNC" Name="UserScriptsFolderCreated" Type="integer" Value="1" KeyPath="yes" />
    </Component>
    
    <!-- Demo PowerShell script -->
    <Component Id="DemoScript" Guid="F2A3B4C5-D6E7-8F90-AB12-2D3E4F5A6B7C">
      <File Id="SimpleFolderCopy.ps1" 
            Source="SimpleFolderCopy.ps1" 
            KeyPath="yes" />
    </Component>
    
    <!-- Demo Batch script -->
    <Component Id="DemoBatchScript" Guid="93A4B5C6-D7E8-9F01-AB23-3E4F5A6B7C8D">
      <File Id="SimpleFolderCopy.bat" 
            Source="SimpleFolderCopy.bat" 
            KeyPath="yes" />
    </Component>

  </ComponentGroup>

  </Fragment>
</Wix>